{{/* Keep the site icon fixed to the TA mark and cache-busted so browsers cannot retain an old logo. */}}
{{ $size := . | default 32 }}
{{ $result := dict "resource" nil "type" "" "is_svg" false }}

{{ $icon_svg := resources.Get "media/icon.svg" }}
{{ if $icon_svg }}
  {{ $icon_svg = $icon_svg | fingerprint "sha256" }}
  {{ $result = dict "resource" $icon_svg "type" "image/svg+xml" "is_svg" true }}
{{ else }}
  {{ $icon_png := resources.Get "media/icon.png" }}
  {{ if $icon_png }}
    {{ $icon_resized := $icon_png.Fill (printf "%sx%s Center" (string $size) (string $size)) }}
    {{ $result = dict "resource" $icon_resized "type" "image/png" "is_svg" false }}
  {{ else }}
    {{ warnf "No TA favicon found. Please add assets/media/icon.svg (preferred) or assets/media/icon.png" }}
  {{ end }}
{{ end }}

{{ return $result }}
