
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #222;
$darkerGray: #222;
$darkGray: #222;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: "Source Sans 3", Helvetica, Arial, sans-serif;
$helveticaNeue: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
$notoSansJp: "Noto Sans JP", "Source Sans 3", Helvetica, Arial, sans-serif;
$sourceSerif: "Source Serif 4", Georgia, serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
